/**
* Brandon Mok
* CSS
*/

*{
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/** Body */
body{
    background-color: #EBE9E9;
}

/* Only p tags in final display */
p{
    font-size: 1.3rem; 
}

/* Question h3 tags */
h3{
    margin-bottom: .2em;
}

/** Header title */
header h1{
    background-color: #EF4648; /* Blue: #3291D3 */
    color: white;
    padding: 1.25em;
    text-align: center;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.596);
}

/** 
* Container that holds two divs - forms & display 
*/
.container{
    display: flex;
    margin: 4em 5em;
    /* height: 50em;    If not here, then can have each individual show */
}

/* divs for the forms and the final display */
#forms, #finalDisplay{
    flex: 1 1 50%;
    background-color: white;
    padding: 1em;
}
#forms{ 
    border-radius: 1em 0 0 1em;
}
#finalDisplay{
    border-radius: 0 1em 1em 0;
}



/** Select menus */
select{
    display: block;
    font-size: 1.1rem;
    margin-bottom: 1.5em;
    animation: fade 2.2s;
    width: 6.5em;
}



/** 
* Only have one form tag - Final Form
*/
form{
    margin-top: 3em;
    margin-left: 1.5em;
    padding: 2em;
    border-radius: 1em;
    background-color: #EBE9E9;
}

form input{
    margin-bottom: 1em;
    display: block;
}

#submitBtn{
    font-size: 1rem;
    padding: .25em;
    margin-top: 1.3em;
    transition-duration: 0.4s;
}
#submitBtn:hover{
    cursor: pointer;
}

/* H2 header text in final form */
form h2{
    padding-bottom: 1em;
}








/* Fade animation */
@keyframes fade{
    from {opacity: 0;}
    to {opacity: 1;}
}


/**
* Media Queries
*/
@media screen and (max-width: 800px){
    /* Handle flex layout */
    .container{
        flex-wrap: wrap;
    }
    #forms, #finalDisplay{
        flex-direction: column;
    }
    #forms{
        border-radius: 1em 1em 0 0;
        width: 50%;
    }
    #finalDisplay{
        width: 50%;
        border-radius: 0 0 1em 1em;
    }
}