/**
* Brandon Mok
* CSS
*/

*{
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/** Body */
body{
    background-color: #EBE9E9;
}

/** Header title */
header h1{
    background-color: #3291D3;
    color: white;
    padding: 1.25em;
    text-align: center;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.596);
}

/** 
* Container that holds two divs - forms & display 
*/
.container{
    display: flex;
    margin: 5em;
}

/* divs for the forms and the final display */
#forms, #finalDisplay{
    flex: 1 1 50%;
    background-color: white;
    padding: 1em;
    height: 25em;
    /* border-radius: .5em; */
}


/** Select menus */
select{
    display: block;
    font-size: 1.1rem;
    width: 6.5em;
}



/**
* Media Queries
*/
@media screen and (max-width: 800px){
    .container{
        flex-wrap: wrap;
    }
    #finalDisplay, #forms{
        flex-direction: column;
    }
}